<!doctype html>
<html>

<head>
	<title>Switch KeepUp Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/oneui/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
	<link rel="stylesheet" id="css-main" type="text/css" href="/assets/oneui/css/oneui.min.css">
	<link rel="stylesheet" href="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css">
	<script type="text/javascript" src="/assets/oneui/js/oneui.core.min.js"></script>
	<script type="text/javascript" src="/assets/oneui/js/oneui.app.min.js"></script>
	<script src="/assets/oneui/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
	<div id="root"></div>
	<script>
		jQuery(function () {
			One.helpers(['datepicker']);
		});
	</script>
	<script src='/static/user.bundle.js'></script>
</body>

</html>