<!doctype html>
<html>

<head>
	<title>Switch KeepUp Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" id="css-main" type="text/css" href="/assets/oneui/css/oneui.min.css">
	<script type="text/javascript" src="/assets/oneui/js/oneui.core.min.js"></script>
	<script type="text/javascript" src="/assets/oneui/js/oneui.app.min.js"></script>
	<link rel="stylesheet" href="/assets/oneui/js/plugins/summernote/summernote-bs4.css" />
	<script src='/assets/oneui/js/plugins/summernote/summernote-bs4.min.js'></script>
</head>

<body>
	<div id="root"></div>
	<script src='/static/user.bundle.js'></script>
</body>

</html>